.home h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(147, 147, 148);
}

.post h2::first-letter {
  text-transform: uppercase;
}

.post h2,
.post p {
  margin-bottom: 1rem;
}

.btn {
  background-color: #fff;
  color: #0e1217;
  border: 1px solid #fff;
  opacity: 1;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  max-width: 60px;
  text-align: center;
  cursor: pointer;
  transition:.3s
}

.btn:hover {
  background-color: #0e1217;
  color: #fff;
  max-width: 70px;
  size: 1.1rem;
}
